/ComputerArea59/build/
/ComputerArea59/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/nbproject/private/
/FirstProgram/nbproject/private/
/FirstProgram/build/
/FarenhiteToCelcius/nbproject/private/
/FarenhiteToCelcius/build/
/ShowCurrentTime/nbproject/private/
/ShowCurrentTime/build/
/ShowCurrentTimeOk/nbproject/private/
/ShowCurrentTimeOk/build/
/Selection59/nbproject/private/
/Selection59/build/
/GussNumber/nbproject/private/
/GussNumber/build/
/CelciusToFarenhite/nbproject/private/
/CelciusToFarenhite/build/
/FahrenheitToCelsious/nbproject/private/
/FahrenheitToCelsious/build/
/CurrentTime/nbproject/private/
/CurrentTime/build/
/Cast&Post&PreeIncrement/nbproject/private/
/Cast&Post&PreeIncrement/build/
/BolleanDataType/nbproject/private/
/BolleanDataType/build/
/GradeCheck/nbproject/private/
/GradeCheck/build/
/MaxNumber/nbproject/private/
/MaxNumber/build/
/SwichCase/nbproject/private/
/SwichCase/build/
/LeapYear/nbproject/private/
/LeapYear/build/
/TestString59/nbproject/private/
/TestString59/build/
/TestStringFacebook/nbproject/private/
/TestStringFacebook/build/
/EnterYourName/nbproject/private/
/EnterYourName/build/
/VawelOrConsonent/nbproject/private/
/VawelOrConsonent/build/
/GuessBirthday/nbproject/private/
/VowelOrConsonantCheck/nbproject/private/
/VowelOrConsonantCheck/build/
/GuessBirthday/build/
/SwichCaseDayName/nbproject/private/
/SwichCaseDayName/build/
/SwichCaseMaleFemale/nbproject/private/
/SwichCaseMaleFemale/build/
/VowelAndConsonandWithSwichCase/nbproject/private/
/VowelAndConsonandWithSwichCase/build/
/OddEvenWithSwichCase/nbproject/private/
/OddEvenWithSwichCase/build/
/SwichCaseMonthOfDayCheck/nbproject/private/
/SwichCaseMonthOfDayCheck/build/
/SimpleCalculatorWithSwichCase/nbproject/private/
/SimpleCalculatorWithSwichCase/build/
/MathFactionWithString/nbproject/private/
/MathFactionWithString/build/
/JavaStringMathod/nbproject/private/
/JavaStringMathod/build/
/TestLoop/nbproject/private/
/TestLoop/build/
/GussNumberWhileLoop/nbproject/private/
/GussNumberWhileLoop/build/
/GuessNumberWithDoWhile/nbproject/private/
/GuessNumberWithDoWhile/build/
/GuessDoWhileLoop/nbproject/private/
/GuessDoWhileLoop/build/
