/ReangOfRendom/nbproject/private/
/ReangOfRendom/build/
/TwodiArray/nbproject/private/
/TwodiArray/build/
/GussNumber/build/
/GussNumberWhileLoop/build/
/Test.PrimeNumber/build/
/ExerciseForLoop/build/
/GuessNumberWithDoWhile/build/
/TestString/build/
/ShowCurrentTimeOk/build/
/TestString59/build/
/TestStringFacebook/build/
/TestMathodsDoSum/nbproject/private/
/TestMathodsDoSum/build/
/JavaTestMethodsExerscise/nbproject/private/
/JavaTestMethodsExerscise/build/
/MatthodsCheckUserNameAndPassword/nbproject/private/
/MatthodsCheckUserNameAndPassword/build/
/DandomPasswordGenaretor/nbproject/private/
/DandomPasswordGenaretor/build/
/TestPasswordGenaretor/nbproject/private/
/TestPasswordGenaretor/build/
